{% load static wagtailuserbar wagtailcore_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">


    {# Fonts #}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}
<div class="main-header">
    <span class="fa fa-bars visible-only-on-mobile" id="menu-button"></span>
    <h1><a href="/">Blog</a> | <a href="https://ajezek.cz">Adam Ježek</a></h1>
</div>
<div class="page-content">


    <div class="left-sidebar" id="left-sidebar">

        <h3 class="tag-heading">Tags</h3>
        <div class="tag-list">
            {% for tag in page.get_posts_tags %}
                <div class="tag-list-item"><i class="fa fa-tags" aria-hidden="true" style="margin-right:5px;"></i><a
                        href="/?tag={{ tag.0 }}">{{ tag.0 }} ({{ tag.1 }})</a></div>
            {% endfor %}
        </div>
    </div>
    <div class="right-content">


        {% block content %}{% endblock %}
    </div>
</div>
{# Global javascript #}
<script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script>
    $(".blog-posts-list-item").click(function () {
        window.location = $(this).find("a").attr("href");
        return false;
    });
    $(".tag-list-item").click(function () {
        window.location = $(this).find("a").attr("href");
        return false;
    });
    $("#menu-button").click(function () {
        var sidebar = $("#left-sidebar");

        if (sidebar.css("visibility") == "hidden") {
            sidebar.slideUp(0);
            sidebar.css("visibility", "visible");
            sidebar.slideDown(1000);
        } else {
            sidebar.slideToggle(1000);

        }

    });
    $( window ).resize(function() {
       //if($( window ).width() >= 900){
       if($("#menu-button").css("visibility") == "hidden"){
           $("#left-sidebar").slideDown(0);
           $("#left-sidebar").css("visibility", "visible");
       } else {
           $("#left-sidebar").css("visibility", "hidden");
       }
    });
</script>

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
