{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <div class="blog-post">
        <h1 class="blog-post-heading">{{ page.title }}</h1>
        <article>
            <p class="blog-post-date"><i class="fa fa-calendar-o" aria-hidden="true" style="margin-right:5px;"></i>{{ page.date }}
            </p>

            <div class="blog-post-intro">{{ page.intro }}</div>

            {% include_block page.body %}

            <hr/>
            <div class="cleaner"></div>
            {% if page.tags.all.count %}
                <h3 class="tag-heading" style="text-align: left">Tags</h3>
                <div class="tag-list" style="justify-content: left">


                    {% for tag in page.tags.all %}
                        <div class="tag-list-item" style="max-width: none">
                            <i class="fa fa-tags" aria-hidden="true" style="margin-right:5px;"></i><a
                                href="/?tag={{ tag }}">{{ tag }}</a>
                        </div>

                    {% endfor %}
                </div>
            {% endif %}
            <br/>

            <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
        </article>
    </div>
{% endblock %}