{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}
{% block content %}


    {% if request.GET.tag|length %}
        <h4>Showing pages tagged "{{ request.GET.tag }}"</h4>
    {% endif %}




    <div class="intro">{{ page.intro|richtext }}</div>

    <div class="blog-posts-list">
        {% for post in blogpages %}
            <div class="blog-posts-list-item">
                {% with post=post.specific %}
                    <div class="vertical-align-center-outer">
                        <div class="vertical-align-center-middle">
                            <div class="vertical-align-center-inner">

                                {% with post.main_image as main_image %}
                                    {% if main_image %}
                                        {% image main_image original width="" height="" class="post-thumbnail" %}{% endif %}
                                {% endwith %}

                            </div>
                        </div>
                    </div>
                    <div>
                        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                        <div>
                            <div style="float:left;width:40%">
                                <p><i class="fa fa-calendar-o" aria-hidden="true"
                                      style="margin-right:5px;"></i>{{ post.date }}</p>
                            </div>
                            <div style="float:right;width:60%">
                                <p style=" overflow-wrap: break-word;word-wrap: break-word;">
                                    {% for tag in post.tags.all %}
                                        <i class="fa fa-tags" aria-hidden="true" style="margin-right:0px;">&nbsp;</i>&nbsp;{{ tag }}
                                    {% endfor %}
                                </p>
                            </div>

                        </div>
                        <div class="cleaner"></div>

                        <p>{{ post.intro }}</p>

                    </div>
                {% endwith %}
            </div>
        {% empty %}
            No pages found.

        {% endfor %}
    </div>
{% endblock %}